:root {
  --color-white: #fff;
  --color-malibu: #88CEF7;
  --color-coral-red: #F93442;
  --color-apple: #33B540;
  --color-yellow-orange: #FEBB43;
  --color-pumpkin: #FF791C;
  --color-lavender: #CE73D5;
  --color-cerulean: #0d79f3;
  --color-teal-blue: #074569;
  --color-wild-sand: #F5F5F5;
  --color-mine-shaft: #333333;
  --color-cod-gray: #1A1A1A;
}
