body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-background);
  margin: 0;
}

[data-align="left"]{
  justify-self: left;
}
 
[data-height="70"] {
  height: 70px;
}

.main-title,
.section-title,
.subtitle {
  margin: 0;
}

.main-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 6px;
}

.subtitle span:last-child,
.section-title span:first-child,
.main-title span:first-child {
  color: var(--color-active);
}


.subtitle span:first-child,
.section-title span:last-child,
.main-title span:last-child {
  color: var(--color-dark);
}

.section-title {
  font-size: 24px;
  font-weight: bold;
}

.sub-title {
  font-size: 24px;
  font-weight: 500;
}
.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
}

.shadow-box {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 16px;
  border-radius: 20px;
  background-color: white;
  color: var(--color-dark);
  font-size: 12px;
  line-height: 21px;
  margin: 18px 0;
}

.button-pill {
  margin: 18px 0;
  background-color: var(--color-active);
  color: var(--color-light);
  height: 55px;
  line-height: 55px;
  border-radius: 27px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-pill img {
  margin-right: 10px;
}

.button-down {
  background-color: rgba(15, 142, 214, 0.2);
  height: 65px;
  width: 65px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
